
@{
    ViewBag.Title = "Admin Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Menü</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="/Blog" target="_blank">Bloglara Git</a></li>
                                    
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Blog Sayısı</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-layout-text-window-reverse"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.BlogSayisi</h6>
        

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Menü</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="/Hizmet" target="_blank">Hizmetlere Git</a></li>
                                   
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Hizmet Sayısı</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-box-seam-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.HizmetSayisi</h6>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-6 col-xl-6">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Menü</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="/Yorumlar">Yorumlara git</a></li>
                                    
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Onaylı Yorum Sayısı</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-chat-dots-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.OnayliYorumSayisi</h6>
                                        

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-6 col-xl-6">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Menü</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="/Yorumlar" target="_blank">Yorumlara git</a></li>
                          
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Onaysız Yorum Sayısı</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-chat"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.OnaysizYorumSayisi</h6>
                                       

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Reports -->

                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
       

        </div>
    </section>


