@model webson.Models.Kategori

@{
    ViewBag.Title = "Kategori Detaylar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Detaylar</h2>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategori Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAd)
        </dd>

        <dt>
            Kategori Açıklaması
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.KategoriId }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
